<!-- <div class="relative select-container">
  <button type="button" (click)="toggle()" [disabled]="disabled"
    class="w-full border rounded-md px-3 py-2 text-left flex justify-between items-center">
    <span>{{ selectedLabel }}</span>

    <svg class="w-4 h-4 transition-transform" [ngClass]="{ 'rotate-180': isOpen }" fill="none" stroke="currentColor"
      viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </button>

  <div *ngIf="isOpen && !disabled"
    class="absolute z-50 mt-1 w-full bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-auto">


    <input type="text" [(ngModel)]="searchTerm" (input)="filterOptions()" placeholder="Search..."
      class="w-full px-3 py-2 border-b outline-none" />

    <div *ngFor="let option of filteredOptions" (click)="select(option)"
      class="px-3 py-2 cursor-pointer hover:bg-gray-100">
      {{ option.label }}
    </div>

    <div *ngIf="filteredOptions.length === 0" class="px-3 py-2 text-gray-500">
      No results found
    </div>
  </div>
</div> -->

<div class="relative select-container">
  <button type="button" (click)="toggle()" [disabled]="disabled" class="w-full border rounded-md px-3 py-2 text-left flex justify-between items-center
           transition outline-none
           focus:border-blue-500 focus:ring-1 focus:ring-blue-500" [ngClass]="{
      'bg-white border-gray-300 cursor-pointer': !disabled,
      'bg-gray-100 border-gray-200 text-gray-400 cursor-not-allowed': disabled
    }">
    <span [ngClass]="{
        'text-gray-700': value && !disabled,
        'text-gray-500': !value && !disabled,
        'text-gray-400': disabled
      }">
      {{ selectedLabel }}
    </span>

    <svg class="w-4 h-4 transition-transform" [ngClass]="{
        'rotate-180': isOpen,
        'text-gray-500': !disabled,
        'text-gray-400': disabled
      }" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </button>

  <!-- DROPDOWN -->
  <div *ngIf="isOpen && !disabled" class="absolute z-50 mt-1 w-full bg-white border border-gray-300
           rounded-md shadow-lg max-h-60 overflow-auto">

    <!-- SEARCH INPUT -->
    <input type="text" [(ngModel)]="searchTerm" (input)="filterOptions()" placeholder="Search..." class="w-full px-3 py-2 border-b border-gray-300 outline-none
             focus:border-blue-500 focus:ring-0" />

    <!-- OPTIONS -->
    <div *ngFor="let option of filteredOptions" (click)="select(option)"
      class="px-3 py-2 cursor-pointer hover:bg-gray-100">
      {{ option.label }}
    </div>

    <!-- NO RESULT -->
    <div *ngIf="filteredOptions.length === 0" class="px-3 py-2 text-gray-500">
      No results found
    </div>
  </div>
</div>