<div class="dialog-overlay" *ngIf="open" (click)="onClose()"></div>

<div class="dialog-container" *ngIf="open" (click)="$event.stopPropagation()">

    <div class="dialog-card">

        <div class="dialog-header">
            <div>
                <h2 class="dialog-title">
                    {{ title }}
                </h2>
            </div>

            <div class="dialog-actions">
                <button class="icon-btn" title="Close" (click)="onClose()">✕</button>
            </div>
        </div>

        <div class="dialog-body text-gray-600">
            <ng-content></ng-content>
        </div>

        <div class="dialog-footer">

            <button class="btn-outline" (click)="onClose()">
                Cancel
            </button>

            <button class="btn-danger" (click)="onConfirm()">
                Delete
            </button>

        </div>

    </div>

</div>