<div class="w-full flex flex-col gap-1">

  <label *ngIf="label" class="form-label">
    {{ label }}
  </label>

  <div class="w-full px-3 py-2 border rounded-md outline-none transition
           flex items-center gap-2
           disabled:bg-gray-100
           border-gray-300
           focus-within:border-blue-500 focus-within:ring-1 focus-within:ring-blue-500">

    <select [disabled]="disabled" [(ngModel)]="hour" (change)="updateTime()" class="bg-transparent outline-none ">

      <option [ngValue]="null">HH</option>
      <option *ngFor="let h of hours" [ngValue]="h">
        {{ h | number:'2.0' }}
      </option>
    </select>

    <span class="text-gray-500">:</span>

    <!-- Minute -->
    <select [disabled]="disabled" [(ngModel)]="minute" (change)="updateTime()" class="bg-transparent outline-none ">

      <option [ngValue]="null">MM</option>
      <option *ngFor="let m of minutes" [ngValue]="m">
        {{ m | number:'2.0' }}
      </option>
    </select>

    <span class="text-gray-500">:</span>

    <!-- Second -->
    <select [disabled]="disabled" [(ngModel)]="second" (change)="updateTime()" class="bg-transparent outline-none ">

      <option [ngValue]="null">SS</option>
      <option *ngFor="let s of seconds" [ngValue]="s">
        {{ s | number:'2.0' }}
      </option>
    </select>

  </div>

</div>